In [69]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [70]:
df = pd.read_csv('CarPrice_Assignment.csv')

In [71]:
df

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [72]:
df.shape

(205, 26)

In [73]:
df.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [74]:
df.duplicated().sum()

0

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [76]:
numerical_feature = [ i for i in df.columns if df[i].dtype !='O']
print(numerical_feature)

['car_ID', 'symboling', 'wheelbase', 'carlength', 'carwidth', 'carheight', 'curbweight', 'enginesize', 'boreratio', 'stroke', 'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg', 'price']

In [77]:
cat_feature = [ i for i in df.columns if df[i].dtype =='O']
print(cat_feature)

['CarName', 'fueltype', 'aspiration', 'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'enginetype', 'cylindernumber', 'fuelsystem']

In [78]:
df['CarName'].value_counts()

CarName
toyota corona           6
toyota corolla          6
peugeot 504             6
subaru dl               4
mitsubishi mirage g4    3
                       ..
mazda glc 4             1
mazda rx2 coupe         1
maxda glc deluxe        1
maxda rx3               1
volvo 246               1
Name: count, Length: 147, dtype: int64

In [79]:
df.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [80]:
x = df.iloc[:,:-1]
y=df.iloc[:,-1]

In [81]:
from sklearn.model_selection import train_test_split

# Keep x_train and x_test as DataFrames
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [82]:
x_train.shape , y_train.shape

((164, 25), (164,))

In [83]:
x_test.shape

(41, 25)

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [85]:
correlations = df.corr(numeric_only=True)['price'].sort_values()
print(correlations)

highwaympg         -0.697599
citympg            -0.685751
car_ID             -0.109093
peakrpm            -0.085267
symboling          -0.079978
compressionratio    0.067984
stroke              0.079443
carheight           0.119336
boreratio           0.553173
wheelbase           0.577816
carlength           0.682920
carwidth            0.759325
horsepower          0.808139
curbweight          0.835305
enginesize          0.874145
price               1.000000
Name: price, dtype: float64

In [86]:
# Keep only features with correlation above threshold (e.g., 0.05)
threshold = 0.60
weak_corr_features = correlations[abs(correlations) < threshold].index.tolist()
print("Dropping features with weak correlation to price:", weak_corr_features)

# Drop them from the DataFrame
df.drop(columns=weak_corr_features, inplace=True)

Dropping features with weak correlation to price: ['car_ID', 'peakrpm', 'symboling', 'compressionratio', 'stroke', 'carheight', 'boreratio', 'wheelbase']

In [87]:
df.head()

,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,carlength,carwidth,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,horsepower,citympg,highwaympg,price
0,alfa-romero giulia,gas,std,two,convertible,rwd,front,168.8,64.1,2548,dohc,four,130,mpfi,111,21,27,13495.0
1,alfa-romero stelvio,gas,std,two,convertible,rwd,front,168.8,64.1,2548,dohc,four,130,mpfi,111,21,27,16500.0
2,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,171.2,65.5,2823,ohcv,six,152,mpfi,154,19,26,16500.0
3,audi 100 ls,gas,std,four,sedan,fwd,front,176.6,66.2,2337,ohc,four,109,mpfi,102,24,30,13950.0
4,audi 100ls,gas,std,four,sedan,4wd,front,176.6,66.4,2824,ohc,five,136,mpfi,115,18,22,17450.0

In [88]:
df.shape

(205, 18)

In [89]:
numerical_feature = [ i for i in df.columns if df[i].dtype !='O']
print(numerical_feature)

['carlength', 'carwidth', 'curbweight', 'enginesize', 'horsepower', 'citympg', 'highwaympg', 'price']

In [90]:
import pandas as pd
from sklearn.feature_selection import f_regression
from sklearn.preprocessing import LabelEncoder

# Assuming your DataFrame is called df and your target is "price"
cat_features = ['CarName', 'fueltype', 'aspiration', 'doornumber', 'carbody',
                'drivewheel', 'enginelocation', 'enginetype', 
                'cylindernumber', 'fuelsystem']

# Encode categorical features temporarily
df_encoded = df.copy()
le = LabelEncoder()

for col in cat_features:
    df_encoded[col] = le.fit_transform(df_encoded[col])

# Apply ANOVA F-test (f_regression)
X_cat = df_encoded[cat_features]
y = df_encoded['price']

f_scores, p_values = f_regression(X_cat, y)

# Create a DataFrame with results
cat_scores = pd.DataFrame({
    'Feature': cat_features,
    'F-score': f_scores,
    'p-value': p_values
}).sort_values(by='F-score', ascending=True)

print("Categorical features sorted by F-score:\n", cat_scores)

# Remove weak features (set threshold F-score < 10, can be adjusted)
weak_cat_features = cat_scores[cat_scores['F-score'] < 10]['Feature'].tolist()
print("\nDropping weak categorical features:", weak_cat_features)

# Drop from original df
df.drop(columns=weak_cat_features, inplace=True)

Categorical features sorted by F-score:
           Feature     F-score       p-value
8  cylindernumber    0.155068  6.941518e-01
3      doornumber    0.205946  6.504484e-01
7      enginetype    0.492000  4.838398e-01
4         carbody    1.441705  2.312627e-01
1        fueltype    2.292741  1.315356e-01
2      aspiration    6.636622  1.070030e-02
0         CarName   11.488898  8.411370e-04
6  enginelocation   23.969740  1.993020e-06
9      fuelsystem   77.985360  4.898851e-16
5      drivewheel  101.838772  1.146389e-19

Dropping weak categorical features: ['cylindernumber', 'doornumber', 'enginetype', 'carbody', 'fueltype', 'aspiration']

In [91]:
cat_feature = [ i for i in df.columns if df[i].dtype =='O']
print(cat_feature)

['CarName', 'drivewheel', 'enginelocation', 'fuelsystem']